# pip install -r requirements.txt

# YOLOv8 --------------------------------------
ultralytics

# Streamlit -----------------------------------
streamlit

# Webrtc -----------------------
streamlit_webrtc

# twilio
twilio